@model ProductCartDTO

<div class="col m-3 px-0">
    <div class="text-center bg-secondary py-6 rounded-3 mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-disc" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 4a4 4 0 0 0-4 4 .5.5 0 0 1-1 0 5 5 0 0 1 5-5 .5.5 0 0 1 0 1zm4.5 3.5a.5.5 0 0 1 .5.5 5 5 0 0 1-5 5 .5.5 0 0 1 0-1 4 4 0 0 0 4-4 .5.5 0 0 1 .5-.5z" />
        </svg>
    </div>
    <div>
        <div>
            <a class="text-description fs-5" asp-action="Details" asp-route-id="@Model.ProductId">@Html.DisplayFor(modelItem => Model.Description)</a>
        </div>
        <div>
            <span class="fs-6">@Html.DisplayFor(modelItem => Model.Manufacturer)</span>
        </div>
        <div>
            @if (Model.Stock == 0)
            {
                <span class="text-danger fs-6">Out of stock</span>
            } else
            {
                <span class="text-success fs-6">
                    @Html.DisplayFor(modelItem => Model.Stock) left in stock
                </span>
            }
        </div>
        <div>
            <span class="text-end pe-5 fs-6">@Html.DisplayFor(modelItem => Model.SellPrice)</span>
        </div>
    </div>
</div>